/*=============================COMPONENTS=============================
 * 1. Fonts
 * 2. Reset
 * 3. Colors
 * 4. Global
 * 5. Main Header
 ================================END=================================*/

/*====================================================================
                               1. Fonts
 =====================================================================*/
@font-face 
  font-family: 'Fira Sans medium'
  src: url('../fonts/FiraSans-Medium.eot')
  src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2')
  src: url('../fonts/FiraSans-Medium.woff') format('woff')
  src: url('../fonts/FiraSans-Medium.ttf') format('truetype')
  src: url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg')
  font-weight: 500
  font-style: normal

@font-face 
  font-family: 'Fira Sans regular'
  src: url('../fonts/FiraSans-Regular.eot')
  src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2')
  src: url('../fonts/FiraSans-Regular.woff') format('woff')
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype')
  src: url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg')
  font-weight: normal
  font-style: normal

$font-face-regular: 'Fira Sans regular'
$font-face-medium:  'Fira Sans medium'
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                2. Reset
 =====================================================================*/
*
  margin: 0
  padding: 0
  border: none
  outline: none
ul
  list-style: none
a
  text-decoration: none
img
  width: 100%
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                3. Colors
 =====================================================================*/
$color-btn: #fff
$color-btn-hover: #006aff
$main-btn-shadow: rgba(0, 114, 255, 0.3)
$header-color: rgba(3, 47, 171, 0.5)
$header-color-menu: #032fab
$form-border-color: #e0e0e0
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                4. Global
 =====================================================================*/
body
  background: #ccc
  font-family: $font-face-regular

/*---------------------------------Button----------------------------*/
.main-btn
  display: block
  position: relative
  width: 100%
  max-width: 100%
  font-size: 16px
  background: transparent
  color: $color-btn
  border-radius: 50px 50px 50px 0
  border: 2px solid $color-btn
  outline: none
  padding: 10px 0
  transition: all 0.3s ease-in-out
  span
    display: block
    position: relative
    z-index: 1
  &:hover
    border: 2px solid transparent
    span
      color: $color-btn
    &:before
      width: 101%
      height: 100%
      background: $color-btn-hover
      border-radius: 50px 50px 50px 0
      box-shadow: 0 10px 30px $main-btn-shadow
  &:before
    display: block
    content: ""
    position: absolute
    z-index: 0
    top: 50%
    height: 80%
    width: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border: 2px solid transparent
    background: transparent
    border-radius: 50px
    transition: all .3s ease-in-out
  &:focus
    outline: none

/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                             5. Main Header
 =====================================================================*/
.main-header
  position: relative
  .header-bottom
    background: $header-color
    .logo-box
      img
        width: 100%
        max-width: 110px
        padding: 15px 0
  .header-top
    background: $header-color-menu
    .language-container
      p
        width: 100%
        max-width: 200px
        margin-bottom: 5px
        margin-left: auto
        color: $form-border-color
        border: 1px solid $form-border-color
        text-align: center
        border-radius: 50px
        margin-top: 5px

/*====================================================================
                                    END
 =====================================================================*/










/* ==================================================================
                            STYLES HOLINEY
 ===================================================================*/


/* ==================================================================
                            STYLE DOWNARROW
 ===================================================================*/
.wrap_arrow_down
  // position: relative
  text-decoration: none
  color: $color-btn
  animation-duration: 3s;
  animation-delay: 2s;
  margin-bottom: 30px
  &:hover
    color: $color-btn
    text-decoration: none
  .arrow_down
  border-bottom: 2px solid $color-btn
  max-width: 50px
  width: 100%
  padding: 3px 0 18px 0
  display: flex
  justify-content: center
  align-items: center
  transition: all .3s ease-in 3s;
  animation: bounce 2s infinite 2s;
  // &:before
  //   position: absolute;
  //   content: '|';
  //   font-size: 42px;
  //   top: -30px;
  //   left: 43%; 
  // &:after
  //   position: absolute
  //   content: '🠓'
  //   transform: rotate(90deg);
  //   font-size: 50px;
  //   line-height: 28px;
  img
    width: 36px
    margin: 0 auto
    transition: .3s
/* ==================================================================
                           END STYLE DOWNARROW
 ===================================================================*/


/* ==================================================================
                            STYLE BOUNCE ANIMATION
 ===================================================================*/


@keyframes bounce
  0%,
    100%,
    20%,
    50%,
    80%
    transform: translateY(0)

  40%
    transform: translateY(-10px)

  60%
    transform: translateY(-5px)


/* ==================================================================
                           END STYLE BOUNCE ANIMATION
 ===================================================================*/



/* ==================================================================
                           STYLE SEARCH CONTAINER
 ===================================================================*/



.wrap_select_search
  // max-width: 1530px
  // width: 100%
  // margin: 0 auto
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select_container
    max-width: 300px
    width: 100%
    padding: 0 10px
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    // .search_select
    //   max-width: 300px
    //   width: 100%
    input 
      max-width: 300px
      width: 100%
      border-radius: 50px 50px 50px 0
      border: 2px solid $color-btn
      outline: none  
      padding: 3px 8px;
    






/* ==================================================================
                           END STYLE SEARCH CONTAINER
 ===================================================================*/



/* ==================================================================
                           END STYLES HOLINEY
 ===================================================================*/

/*====================================================================
                                5. Main header
 =====================================================================*/
.main-header
  position: relative
  width: 100%
  .logo-box
    width: 100%
    text-align: center
    img
      width: 50%
  .navigation
    ul
      display: flex
      justify-content: right
      width: 100%
/*====================================================================
                                    END
 =====================================================================*/
