/*=============================COMPONENTS=============================
 * 1. Fonts
 * 2. Reset
 * 3. Colors
 * 4. Global
 * 5. Main Section
 *    5.1 Main Header
 ================================END=================================*/

/*====================================================================
                               1. Fonts
 =====================================================================*/
@font-face
  font-family: 'IBM Plex Sans regular'
  src: url('../fonts/IBMPlexSans.eot')
  src: url('../fonts/IBMPlexSans.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/IBMPlexSans.woff2') format('woff2')
  src: url('../fonts/IBMPlexSans.woff') format('woff')
  src: url('../fonts/IBMPlexSans.ttf') format('truetype')
  src: url('../fonts/IBMPlexSans.svg#IBMPlexSans') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'IBM Plex Sans medium'
  src: url('../fonts/IBMPlexSans-Medium.eot')
  src: url('../fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff2')
  src: url('../fonts/IBMPlexSans-Medium.woff') format('woff')
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype')
  src: url('../fonts/IBMPlexSans-Medium.svg#IBMPlexSans-Medium') format('svg')
  font-weight: 500
  font-style: normal

$font-face-regular: 'IBM Plex Sans regular'
$font-face-medium:  'IBM Plex Sans medium'
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                2. Reset
 =====================================================================*/
*
  margin: 0
  padding: 0
  border: none
  outline: none
ul
  list-style: none
  margin-bottom: 0
a
  text-decoration: none
img
  width: 100%
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                3. Colors
 =====================================================================*/
$color-btn: #fff
$color-btn-hover: #006aff
$main-btn-shadow: rgba(0, 114, 255, 0.3)
$header-color: rgba(3, 47, 171, 0.5)
$header-color-menu: #032fab
$form-border-color: #e0e0e0
$select-search-color-text: #606060
$border-search-color: #e0e0e0
$bg-color-menu: #fff
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                4. Global
 =====================================================================*/
body
  background: #ccc
  font-family: 'IBM Plex Sans regular', sans-serif
  font-size: 15px

/*---------------------------------Button----------------------------*/
.main-btn
  display: block
  position: relative
  width: 100%
  max-width: 100%
  font-size: 16px
  background: transparent
  color: $color-btn
  border-radius: 50px 50px 50px 0
  border: 2px solid $color-btn
  outline: none
  padding: 10px 160px
  transition: all 0.3s ease-in-out
  span
    display: block
    position: relative
    z-index: 1
  &:hover
    border: 2px solid transparent
    cursor: pointer
    span
      color: $color-btn
    &:before
      width: 101%
      height: 100%
      background: $color-btn-hover
      border-radius: 50px 50px 50px 0
      box-shadow: 0 10px 30px $main-btn-shadow
  &:before
    display: block
    content: ""
    position: absolute
    z-index: 0
    top: 50%
    height: 80%
    width: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border: 2px solid transparent
    background: transparent
    border-radius: 50px
    transition: all .3s ease-in-out
  &:focus
    outline: none

/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                             5. Main Section
 =====================================================================*/
.main-section
  position: relative
  height: 100vh
  background: url("../img/background/main-bg.jpg")
  background-size: cover
  .main-overlay
    position: absolute
    top: 0
    left: 0
    z-index: 0
    .bg-blocks
      background: url("../img/background/blocks.png")
      position: absolute
      top: 0
      left: 0
      z-index: 1
  .main-header
    position: relative
    z-index: 2
    .header-bottom
      background: $header-color
      .logo-box
        img
          max-width: 110px
          padding: 15px 0
      .navigation
        overflow: hidden
        ul
          li
            a
             padding: 35px 22px
             color: $color-btn
             font-size: 22px
             text-decoration: none
             text-transform: uppercase
             transition: all 0.3s ease-in
             &:hover
               color: $color-btn-hover
               background: $bg-color-menu

    .header-top
      background: $header-color-menu
      .language-container
        p
          width: 100%
          max-width: 200px
          margin-bottom: 5px
          margin-left: auto
          color: $form-border-color
          border: 1px solid $form-border-color
          text-align: center
          border-radius: 50px
          margin-top: 5px
  .main-button-container
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 30px
    .main-btn

/*====================================================================
                                    END
 =====================================================================*/










/* ==================================================================
                            STYLES HOLINEY
 ===================================================================*/


/* ==================================================================
                            STYLE DOWNARROW
 ===================================================================*/
.wrap_arrow_down
  // position: relative
  text-decoration: none
  color: $color-btn
  animation-duration: 3s
  animation-delay: 2s
  margin-bottom: 30px
  border-bottom: 2px solid $color-btn
  padding: 3px 0 8px 0
  max-width: 50px
  &:hover
    color: $color-btn
    text-decoration: none
  .arrow_down
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    transition: all .3s ease-in 3s
    animation: bounce 2s infinite 2s
    img
      width: 36px
      margin: 0 auto
      transition: .3s

/* ==================================================================
                           END STYLE DOWNARROW
 ===================================================================*/


/* ==================================================================
                            STYLE BOUNCE ANIMATION
 ===================================================================*/


@keyframes bounce
  0%,
    100%,
    20%,
    50%,
    80%
    transform: translateY(0)
  40%
    transform: translateY(-10px)
  60%
    transform: translateY(-5px)


/* ==================================================================
                           END STYLE BOUNCE ANIMATION
 ===================================================================*/



/* ==================================================================
                           STYLE SEARCH CONTAINER
 ===================================================================*/


.background_search_container
  background: $color-btn
  .wrap_select_search
    max-width: 1530px
    width: 100%
    margin: 0 auto 500px
    display: flex
    justify-content: space-between
    align-items: center
    .select_container
      position: relative
      width: 100%
      padding: 0 10px
      display: flex
      justify-content: center
      align-items: center
      margin: 10px 0
      cursor: pointer
      z-index: 2
      .placeholder_search_select
        position: absolute
        z-index: -1
        color: $select-search-color-text
        left: 25px
      .fas
        position: absolute
        z-index: -1
        color: $select-search-color-text
        right: 25px
        top: 10px;
      span 
        border-radius: 50px !important
        cursor: pointer
      .select2
        width: 100% !important
        cursor: pointer
      input 
        width: 100%
        border-radius: 50px 50px 50px 0
        border: 1px solid $border-search-color
        outline: none  
        padding: 3px 10px
      .select2-selection__rendered
        display: none !important
      .select2-container--default, .select2-selection--multiple
        background: transparent
    

.select2-results__option
  padding-right: 20px
  vertical-align: middle
  &:before
    content: ""
    display: inline-block
    position: relative
    height: 20px
    width: 20px
    border: 1px solid $border-search-color
    border-radius: 4px
    background-color: $color-btn
    margin-right: 20px
    vertical-align: middle
  &[aria-selected=true]:before
    font-family: fontAwesome
    content: "\f00c"
    color: $color-btn
    background-color: $color-btn-hover
    border: 0
    display: inline-block
    padding-left: 3px

.select2-container--default
  .select2-results__option[aria-selected=true]
    background-color: #fff
  .select2-results__option--highlighted[aria-selected]
    background-color: #eaeaeb
    color: #272727
  .select2-selection--multiple

  &.select2-container--open.select2-container--below .select2-selection--multiple
    border-radius: 4px
  &.select2-container--focus .select2-selection--multiple
    border-color: #f77750
    border-width: 2px
  .select2-selection--multiple
    border-width: 2px

.select2-container--open .select2-dropdown--below
  border-radius: 6px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

.select2-selection .select2-selection--multiple:after
  content: 'hhghgh'

/* select with icons badges single

.select-icon
  .select2-selection__placeholder .badge, .placeholder
    display: none
  .select2-results__option
    &:before, &[aria-selected=true]:before
      display: none !important
      /* content: "" !important;
  .select2-search--dropdown
    display: none





/* ==================================================================
                           END STYLE SEARCH CONTAINER
 ===================================================================*/



/* ==================================================================
                           END STYLES HOLINEY
 ===================================================================*/

/*====================================================================
                                5. Main header
 =====================================================================*/
.main-header
  position: relative
  width: 100%
  .logo-box
    width: 100%
    text-align: center
    img
      width: 50%
  .navigation
    ul
      display: flex
      justify-content: right
      width: 100%
/*====================================================================
                                    END
 =====================================================================*/
