/*=============================COMPONENTS=============================
 * 1. Fonts
 * 2. Reset
 * 3. Colors
 * 4. Global
 * 5. Main header
 ================================END=================================*/

/*====================================================================
                               1. Fonts
 =====================================================================*/

/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                2. Reset
 =====================================================================*/
*
  margin: 0
  padding: 0
  border: none
  outline: none
ul
  list-style: none
a
  text-decoration: none
img
  width: 100%
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                3. Colors
 =====================================================================*/
$color-btn: #fff
$color-btn-hover: #006aff
$main-btn-shadow: rgba(0, 114, 255, 0.3)
/*====================================================================
                                    END
 =====================================================================*/

/*====================================================================
                                4. Global
 =====================================================================*/
body
  background: #ccc
/*---------------------------------Button----------------------------*/
.main-btn
  display: block
  position: relative
  width: 100%
  max-width: 100%
  font-size: 16px
  background: transparent
  color: $color-btn
  border-radius: 50px 50px 50px 0
  border: 2px solid var(--color-btn)
  outline: none
  padding: 10px 0
  transition: all 0.3s ease-in-out
  span
    display: block
    position: relative
    z-index: 1
  &:hover
    border: 2px solid transparent
    span
      color: $color-btn
    &:before
      width: 101%
      height: 100%
      background: $color-btn-hover
      border-radius: 50px 50px 50px 0
      box-shadow: 0 10px 30px $main-btn-shadow
  &:before
    display: block
    content: ""
    position: absolute
    z-index: 0
    top: 50%
    height: 80%
    width: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border: 2px solid transparent
    background: transparent
    border-radius: 50px
    transition: all .3s ease-in-out

/*====================================================================
                                    END
 =====================================================================*/











/* ==================================================================
                            STYLES HOLINEY
 ===================================================================*/


/* ==================================================================
                            STYLE DOWNARROW
 ===================================================================*/
.arrow_down
  border-bottom: 2px solid #ffffff
  max-width: 57px
  width: 100%
  padding: 3px 0 18px 0
  display: flex
  justify-content: center
  align-items: center
  transition: .3s
  img
    width: 34px
    margin: 0 auto
    transition: .3s
  &:hover
    background: #006aff
    img
      transform: translateY(35%)
/* ==================================================================
                            STYLE DOWNARROW
 ===================================================================*/

/* ==================================================================
                            STYLES HOLINEY
 ===================================================================*/

/*====================================================================
                                5. Main header
 =====================================================================*/
.main-header
  position: relative
  width: 100%
  .logo-box
    width: 100%
    text-align: center
    img
      width: 50%
  .navigation
    ul
      display: flex
      justify-content: right
      width: 100%
/*====================================================================
                                    END
 =====================================================================*/
