/*=============================COMPONENTS=============================
 * 1. Fonts
 * 2. Reset
 * 3. Colors
 * 4. Global
 * 5. Main Header
 @mixin ===============================END=================================*/
/*====================================================================
                               1. Fonts
 @mixin ====================================================================*/
@font-face {
  font-family: 'Fira Sans medium';
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2");
  src: url("../fonts/FiraSans-Medium.woff") format("woff");
  src: url("../fonts/FiraSans-Medium.ttf") format("truetype");
  src: url("../fonts/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans regular';
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
  src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
  src: url("../fonts/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*====================================================================
                                    END
 @mixin ====================================================================*/
/*====================================================================
                                2. Reset
 @mixin ====================================================================*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

ul {
  list-style: none;
  margin-bottom: 0; }

a {
  text-decoration: none; }

img {
  width: 100%; }

/*====================================================================
                                    END
 @mixin ====================================================================*/
/*====================================================================
                                3. Colors
 @mixin ====================================================================*/
/*====================================================================
                                    END
 @mixin ====================================================================*/
/*====================================================================
                                4. Global
 @mixin ====================================================================*/
body {
  background: #ccc;
  font-family: "Fira Sans regular";
  font-size: 15px; }

/*---------------------------------Button----------------------------*/
.main-btn {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  background: transparent;
  color: #fff;
  -webkit-border-radius: 50px 50px 50px 0;
          border-radius: 50px 50px 50px 0;
  border: 2px solid #fff;
  outline: none;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-btn span {
    display: block;
    position: relative;
    z-index: 1; }
  .main-btn:hover {
    border: 2px solid transparent; }
    .main-btn:hover span {
      color: #fff; }
    .main-btn:hover:before {
      width: 101%;
      height: 100%;
      background: #006aff;
      -webkit-border-radius: 50px 50px 50px 0;
              border-radius: 50px 50px 50px 0;
      -webkit-box-shadow: 0 10px 30px rgba(0, 114, 255, 0.3);
              box-shadow: 0 10px 30px rgba(0, 114, 255, 0.3); }
  .main-btn:before {
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    height: 80%;
    width: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid transparent;
    background: transparent;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .main-btn:focus {
    outline: none; }

/*====================================================================
                                    END
 @mixin ====================================================================*/
/*====================================================================
                             5. Main Header
 @mixin ====================================================================*/
.main-header {
  position: relative; }
  .main-header .header-bottom {
    background: rgba(3, 47, 171, 0.5); }
    .main-header .header-bottom .logo-box img {
      width: 100%;
      max-width: 110px;
      padding: 15px 0; }
    .main-header .header-bottom .navigation {
      width: 100%; }
      .main-header .header-bottom .navigation ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-header .header-bottom .navigation ul li a {
          padding: 36px 22px;
          color: #fff;
          font-size: 22px;
          text-decoration: none;
          text-transform: uppercase; }
  .main-header .header-top {
    background: #032fab; }
    .main-header .header-top .language-container p {
      width: 100%;
      max-width: 200px;
      margin-bottom: 5px;
      margin-left: auto;
      color: #e0e0e0;
      border: 1px solid #e0e0e0;
      text-align: center;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      margin-top: 5px; }

/*====================================================================
                                    END
 @mixin ====================================================================*/
/* ==================================================================
                            STYLES HOLINEY
 @mixin ==================================================================*/
/* ==================================================================
                            STYLE DOWNARROW
 @mixin ==================================================================*/
.wrap_arrow_down {
  text-decoration: none;
  color: #fff;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-bottom: 30px; }
  .wrap_arrow_down:hover {
    color: #fff;
    text-decoration: none; }
  .wrap_arrow_down .arrow_down {
    border-bottom: 2px solid #fff;
    max-width: 50px;
    width: 100%;
    padding: 3px 0 18px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s ease-in 3s;
    -o-transition: all .3s ease-in 3s;
    transition: all .3s ease-in 3s;
    -webkit-animation: bounce 2s infinite 2s;
            animation: bounce 2s infinite 2s; }
  .wrap_arrow_down img {
    width: 36px;
    margin: 0 auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

/* ==================================================================
                           END STYLE DOWNARROW
 @mixin ==================================================================*/
/* ==================================================================
                            STYLE BOUNCE ANIMATION
 @mixin ==================================================================*/
/* ==================================================================
                           END STYLE BOUNCE ANIMATION
 @mixin ==================================================================*/
/* ==================================================================
                           STYLE SEARCH CONTAINER
 @mixin ==================================================================*/
.wrap_select_search {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrap_select_search .select_container {
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0; }
    .wrap_select_search .select_container span {
      -webkit-border-radius: 50px !important;
              border-radius: 50px !important; }
      .wrap_select_search .select_container span:focus {
        -webkit-border-radius: 50px 50px 0 0 !important;
                border-radius: 50px 50px 0 0 !important; }
    .wrap_select_search .select_container .select2 {
      width: 100% !important; }
      .wrap_select_search .select_container .select2:focus {
        -webkit-border-radius: 50px 50px 0 0 !important;
                border-radius: 50px 50px 0 0 !important; }
    .wrap_select_search .select_container input {
      width: 100%;
      -webkit-border-radius: 50px 50px 50px 0;
              border-radius: 50px 50px 50px 0;
      border: 2px solid #fff;
      outline: none;
      padding: 3px 8px; }

/* ==================================================================
                           END STYLE SEARCH CONTAINER
 @mixin ==================================================================*/
/* ==================================================================
                           END STYLES HOLINEY
 @mixin ==================================================================*/
/*====================================================================
                                5. Main header
 @mixin ====================================================================*/
.main-header {
  position: relative;
  width: 100%; }
  .main-header .logo-box {
    width: 100%;
    text-align: center; }
    .main-header .logo-box img {
      width: 50%; }
  .main-header .navigation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100%; }

/*====================================================================
                                    END
 @mixin ====================================================================*/
